{% extends 'base.html' %}
{% block content %}

<h2 class="mb-4">Subscriptions</h2>

<a href="/subscriptions/add/" class="btn btn-primary mb-3">New Subscription</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Member</th>
            <th>Plan</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for s in subscriptions %}
        <tr>
            <td>{{ s.member.full_name }}</td>
            <td>{{ s.plan.name }}</td>
            <td>{{ s.start_date }}</td>
            <td>{{ s.end_date }}</td>

            {% if s.is_active %}
                <td class="text-success fw-bold">Active</td>
            {% else %}
                <td class="text-danger fw-bold">Expired</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
